---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="fish fish1">
  {% image "./img/fish1.svg", "fish1 svg" %}
</div>

<div class="fish fish2">
  {% image "./img/fish2.svg", "fish2 svg" %}
</div>

<div class="fish fish3">
  {% image "./img/fish3.svg", "fish3 svg" %}
</div>
