<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} pb-4 flex justify-between">
    <div class="postlist-item__right">
      <img src="/img/{{ post.data.image }}" alt="{{ post.data.title }} Website" />
    </div>

    <div class="postlist-item__right">
      <h3>{{ post.data.title }}</h3>
      {{ post.templateContent | safe }}
      <a href="{{ post.data.link | url }}" class="postlist-link text-xl">View Site</a>
    </div>
  </li>
{% endfor %}
</ol>
