<footer class="container mx-auto text-xs text-gray-500 mt-12 pt-6 border-t border-dashed">
  <div class="flex justify-between">
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
      listClass: "nav",
      listItemClass: "nav__item"
    }) | safe }}

    <ul class="flex mt-4 md:mt-0">
      <li class="ml-0 md:ml-4">
        <a href="https://gitlab.com/fleetfoot">{% image "./img/gitlab.svg", "Gitlab link", "24px"  %}</a>
      </li>

      <li class="ml-4">
        <a href="mailto:{{ metadata.author.email }}">{% image "./img/email-black.svg", "Email link", "24px"  %}</a>
      </li>
    </ul>
  </div>

  <p class="mb-0 text-center">© 2021 Jeff Temes</p>
</footer>
