<header class="container mx-auto p-4 border-b border-dashed">
  <div class="flex flex-col md:flex-row justify-between">
    <h2 class="text-base font-bold">
      <a class="text-sm" href="{{ '/' | url }}">{{ metadata.title }}</a>
    </h2>

    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({
      listClass: "nav",
      listItemClass: "nav__item"
    }) | safe }}

    <ul class="flex mt-4 md:mt-0">
      <li class="ml-0 md:ml-4">
        <a href="https://gitlab.com/fleetfoot">{% image "./img/gitlab.svg", "Gitlab link", "24px"  %}</a>
      </li>

      <li class="ml-4">
        <a href="mailto:{{ metadata.author.email }}">{% image "./img/email-black.svg", "Email link", "24px"  %}</a>
      </li>
    </ul>
  </div>
</header>
