<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/styles.min.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/static/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script async defer data-website-id="985bdd1a-bc8e-4f2b-82ab-d6993dd07030" src="https://umami.jefftemes.ca/umami.js"></script>
  </head>
  <body class="max-w-full flex flex-col h-screen overflow-x-hidden">
    <a href="#main" class="skip-link">Skip to main content</a>
    {% include "parts/header.njk" %}

    <main id="main" class="mb-auto {% if templateClass %} {{ templateClass }}{% endif %}">
        {{ content | safe }}
    </main>

    {% include "parts/footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
